:root {
  --black: #000000;
  --white: #FFFFFF;
  --title: #C8C8C8;
  --primary: #702C7E;
  --secondary: #C4296C;
  --warning: #F4BA46;
  --disabled: #EFEFEF;
  --disabled-text: #767679;
  --info: #0083B6;
  --danger: #DF3F3E;
  --action: #ED732E;
  --question: #6DD1B0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}